@model UserTaskViewModel

@{
    ViewData["Title"] = "Task list";
}



<div class="row text-light mt-4 mb-2 pt-5">
    <div class="col-12 text-center">
        <h1>Task List</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">

        <form asp-controller="UserTask" asp-action="Create" method="post" id="submitForm">
            @Html.AntiForgeryToken()
            <div class="input-group p-5">
                <input type="text" class="form-control w-75 rounded p-4" placeholder="Enter your task..." name="Description" id="submitInput">
                <span asp-validation-for="Description" class="text-danger"></span>
                <div class="w-25 text-right">
                    <button type="button" class="btn btn-warning w-75 font-weight-bold customBtn" id="submitBtn">Add</button>
                </div>
            </div>
        </form>

    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card p-3 mb-1 customCard ">
            <div class="input-group">

                <select class="form-control rounded mr-5 ml-3">
                    <option>Default select</option>
                    <option>LOL</option>
                </select>

                <input type="text" class="form-control rounded mr-5" placeholder="Search task...">

                <div class="mr-3">
                    <button class="btn btn-secondary" type="button">Search</button>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <table class="table table-hover bg-light m-0">
                <tbody>
                    @foreach (var task in Model.Tasks)
                    {
                        <tr>
                            <td class="max-width-5">
                                <input class="w-100 customInput" value="@task.Description" readonly />
                                @*@Html.DisplayFor(modelItem => task.Description)*@
                            </td>
                            <td class="text-right text-pale max-width-05">
                                <span class="border-left pl-1">@Html.DisplayFor(modelItem => task.CreatedAt)</span>
                            </td>
                            <td class="border-left text-center max-width-03">
                                <form asp-controller="UserTask" asp-action="" method="post" class="mr-2 ml-2 d-inline">
                                    <i class="fas fa-edit customEditIcon" name="@task.Id"></i>
                                </form>
                                <form asp-controller="UserTask" asp-action="Delete" method="post" class="mr-2 ml-2 d-inline customForm" name="@task.Id">
                                    <input type="hidden" name="Id" value="@task.Id" readonly/>
                                    <button type="submit" class="plain"><i class="fas fa-trash-alt customBinIcon"></i></button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>